<form class="container">
    <h1 class="text-center">Форма резюме</h1>

    <fio-component></fio-component>
    <div class="form-row">
        <family-component class="col-md-6"></family-component>
        <gender-component class="col-md-6"></gender-component>
    </div>
    <div class="form-row">
        <birth-date-component class="col-md-6"></birth-date-component>
        <quantity-children-component class="col-md-6"></quantity-children-component>
    </div>
    <email-component></email-component>
    <comment-component></comment-component>
    
</form>